.header {}

.header img {
	float: right;
	margin-right: 16px;
}

.header h1 {
	margin-top: 0;
}

.csstools-logo {
	margin-bottom: 36px;
}

@media (min-width: 560px) {
	.csstools-logo {
			margin-top: 16px;
		}
}


.csstools-logo img {
	height: 100px;
}
