.plugin {
	background-color: hsla(169, 10%, 79%, 0.197);
	border-radius: 16px;
	border: 1px solid hsla(169, 10%, 79%, 0.359);
	margin: 1rem 0;
	padding: 1rem 16px;
}

.plugin summary > h3:first-child {
	display: inline;
	padding-left: 4px;
}

.plugin ul {
	display: flex;
	flex-wrap: wrap;
	margin: 2rem 0 0 -8px;
	max-width: 360px;
	padding: 0;
}

.plugin li {
	display: inline-block;
	margin: 0;
	padding: 0.25rem 8px;
}

.plugin-anchor-link:any-link {
	color: currentColor;
	display: block;
	font-size: 1.25rem;
	padding: 0.5rem;
	text-decoration: none;
}

.plugin-anchor-link__icon {
	display: inline-block;
	transition: transform 256ms;
}

.plugin-anchor-link:any-link:hover .plugin-anchor-link__icon {
	transform: scale(1.5);
}
