.plugin {
	margin: 1rem 0;
}

.plugin details {
	border: 1px solid var(--color-green);
	box-sizing: border-box;
}

.plugin summary {
	background-color: var(--color-green);
	box-sizing: border-box;
	color: white;
	padding: 1rem 16px;
}

.plugin summary > h3:first-child {
	display: inline;
	padding-left: 4px;
}

.plugin ul {
	display: flex;
	flex-wrap: wrap;
	font-family: monospace;
	margin: 2rem 0 0 -8px;
	max-width: 360px;
	padding: 0 16px;
}

.plugin li {
	display: inline-block;
	margin: 0;
	padding: 0.25rem 8px;
}

.plugin-anchor-link:any-link {
	color: currentColor;
	color: var(--color-green);
	display: block;
	font-size: 1.25rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

.plugin-anchor-link__icon {
	display: inline-block;
	transition: transform 256ms;
}

.plugin-anchor-link:any-link:hover .plugin-anchor-link__icon {
	transform: scale(1.5);
}
