.plugin {}

.plugin-anchor-link:any-link {
	color: currentColor;
	text-decoration: none;
}

.plugin-anchor-link__icon {
	display: inline-block;
	transition: transform 256ms;
}

.plugin-anchor-link:any-link:hover .plugin-anchor-link__icon {
	transform: scale(1.5);
}


