body {
	font-family: monospace;
	margin: 0 auto;
	max-width: 520px;
	padding: 16px;
}

code {
	background-color: hsl(0deg, 0%, 95%);
	padding: 0.125rem 0.375rem;
}

dl {
	padding-left: 16px;
}

dt {
	margin-bottom: 0.5rem;
}

dd {
	margin-bottom: 1.25rem;
}

dd code {
	border: 2px hsl(0deg, 0%, 50%) double;
	padding: 0.125rem 0.375rem;
}

li {
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
}

p:last-child {
	margin-bottom: 0;
}
