:root {
	color-scheme: dark;
}

body {
	accent-color: var(--color-theme);
	font-family: system-ui;
	margin: 0 auto;
	max-width: 520px;
	padding: 16px;
	background-color: rgb(35 35 35);
	color: rgb(230 230 230);
}

code {
	background-color: rgb(25 25 25);
	padding: 0.125rem 0.375rem;
}

dl {
	padding-left: 24px;
}

dt {
	margin-bottom: 0.5rem;
}

dd {
	margin-bottom: 1.25rem;
}

dd code {
	border: 3px hsl(0deg, 0%, 60%) double;
	padding: 0.125rem 0.375rem;
}

li {
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
}

p {
	max-width: 60ch;
}

p:last-child {
	margin-bottom: 0;
}

:any-link {
	color: color-mix(in oklab, var(--color-theme), rgb(230 230 230) 80%);
}
