:root {
	--color-green: rgb(59, 121, 11); /* old css tools */
	--color-red: rgb(221, 58, 11); /* postcss */
	--color-theme: #639; /* css */
}
:root {
	--csstools-color-scheme--light:  ;
	color-scheme: dark;
}
body {
	accent-color: #639;
	accent-color: var(--color-theme);
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	margin: 0 auto;
	max-width: 520px;
	padding: 16px;
	background-color: rgb(35, 35, 35);
	color: rgb(230, 230, 230);
}
code {
	background-color: rgb(25, 25, 25);
	padding: 0.125rem 0.375rem;
}
dl {
	padding-left: 24px;
}
dt {
	margin-bottom: 0.5rem;
}
dd {
	margin-bottom: 1.25rem;
}
dd code {
	border: 3px hsl(0deg, 0%, 60%) double;
	padding: 0.125rem 0.375rem;
}
li {
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
}
p {
	max-width: 60ch;
}
p:last-child {
	margin-bottom: 0;
}
:link, :visited {
	color: rgb(203, 194, 216);
}
@supports (color: color-mix(in lch, red, blue)) {
:link, :visited {
	color: color-mix(in oklab, var(--color-theme), rgb(230, 230, 230) 80%);
}
}
:-moz-any-link {
	color: rgb(203, 194, 216);
}
:any-link {
	color: rgb(203, 194, 216);
}
@supports (color: color-mix(in lch, red, blue)) {
:-moz-any-link {
	color: color-mix(in oklab, var(--color-theme), rgb(230, 230, 230) 80%);
}
:any-link {
	color: color-mix(in oklab, var(--color-theme), rgb(230, 230, 230) 80%);
}
}
#detailed-plugin-info {
	margin: 1rem 0;
}
#detailed-plugin-info input {
	height: 1.25rem;
	margin: 0;
	transform: translate3d(0, 0.125rem, 0);
	width: 1.25rem;
}
.header {}
.header img {
	float: right;
	margin-right: 16px;
}
.header h1 {
	margin-top: 0;
}
.csstools-logo {
	margin-bottom: 36px;
}
@media (min-width: 560px) {
	.csstools-logo {
			margin-top: 16px;
		}
}
.csstools-logo img {
	height: 100px;
}
.plugin {
	margin: 1rem 0;
}
.plugin details {
	background-clip: padding-box;
	border: solid 1px transparent;
	border-radius: 5px;
	box-sizing: border-box;
	color: white;
	--gradient-at: top right;
	background:
		radial-gradient(
			ellipse at top right,
			hsl(var(--random-hue) 95% 65% / 0.6),
			rgba(130, 93, 175, 0.6)
		) padding-box;
}
@supports (color: color-mix(in lch, red, blue)) and (color: hsl(0 0% 0% / 0)) and (color: lab(from red l 1 1% / calc(alpha + 0.1))) {
.plugin details {
	background:
		radial-gradient(
			ellipse at var(--gradient-at),
			hsl(var(--random-hue) 95% 65% / 0.6),
			rgb(from color-mix(in oklab, var(--color-theme), white 20%) r g b / 0.6)
		) padding-box;
}
}
.plugin:nth-child(2n) details {
	--gradient-at: top left;
}
.plugin:nth-child(3n) details {
	--gradient-at: bottom left;
}
.plugin:nth-child(5n) details {
	--gradient-at: bottom right;
}
.plugin:nth-child(7n) details {
	--gradient-at: right;
}
.plugin:nth-child(11n) details {
	--gradient-at: top;
}
.plugin:nth-child(13n) details {
	--gradient-at: bottom;
}
.plugin:nth-child(17n) details {
	--gradient-at: left;
}
.plugin summary {
	/* background-color: rgb(30 30 30); */
	box-sizing: border-box;
	padding: 2rem 24px;
}
.plugin summary > h3:first-child {
	display: inline;
	padding-left: 4px;
}
.plugin ul {
	display: flex;
	flex-wrap: wrap;
	font-family: monospace;
	margin: 2rem 0 0 -8px;
	max-width: 360px;
	padding: 0 24px;
}
.plugin li {
	display: inline-block;
	margin: 0;
	padding: 0.25rem 8px;
}
.plugin code {
	background-color: rgb(35, 35, 35);
}
.plugin-anchor-link:link, .plugin-anchor-link:visited {
	color: currentColor;
	color: color-mix(in oklab, rebeccapurple, white 80%);
	display: block;
	font-size: 1.25rem;
	padding: 0.5rem 24px;
	-webkit-text-decoration: none;
	text-decoration: none;
}
@supports (color: color-mix(in lch, red, blue)) {
.plugin-anchor-link:link, .plugin-anchor-link:visited {
	color: color-mix(in oklab, var(--color-theme), white 80%);
}
}
.plugin-anchor-link:-moz-any-link {
	color: currentColor;
	color: color-mix(in oklab, rebeccapurple, white 80%);
	display: block;
	font-size: 1.25rem;
	padding: 0.5rem 24px;
	-webkit-text-decoration: none;
	text-decoration: none;
}
.plugin-anchor-link:any-link {
	color: currentColor;
	color: color-mix(in oklab, rebeccapurple, white 80%);
	display: block;
	font-size: 1.25rem;
	padding: 0.5rem 24px;
	-webkit-text-decoration: none;
	text-decoration: none;
}
@supports (color: color-mix(in lch, red, blue)) {
.plugin-anchor-link:-moz-any-link {
	color: color-mix(in oklab, var(--color-theme), white 80%);
}
.plugin-anchor-link:any-link {
	color: color-mix(in oklab, var(--color-theme), white 80%);
}
}
.plugin-anchor-link__icon {
	display: inline-block;
	transition: transform 256ms;
}
.plugin-anchor-link:link:hover .plugin-anchor-link__icon, .plugin-anchor-link:visited:hover .plugin-anchor-link__icon {
	transform: scale(1.5);
}
.plugin-anchor-link:-moz-any-link:hover .plugin-anchor-link__icon {
	transform: scale(1.5);
}
.plugin-anchor-link:any-link:hover .plugin-anchor-link__icon {
	transform: scale(1.5);
}
.plugin .button-copy-npm-cmd {
	background-color: rgb(35, 35, 35);
	border: 3px hsl(0deg, 0%, 60%) double;
	color: rgb(222, 213, 236);
	font-family: 'Comic Sans MS';
	font-size: 13px;
	line-height: 1.1538461;
	padding: 0.125rem 0.5rem;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	cursor: copy;
}
@supports (color: color-mix(in lch, red, blue)) {
.plugin .button-copy-npm-cmd {
	color: color-mix(in oklab, var(--color-theme), white 80%);
}
}
.plugin .button-copy-npm-cmd:active {
	border: 3px hsl(0deg, 0%, 50%) solid;
}
#search {
	margin: 1rem 0;
}
#search input {
	font-size: 1.25rem;
	margin-top: 0.5rem;
	width: 100%;
}

/*# sourceMappingURL=style.css.map */