name: 'Collect Plugins Data'
on:
  schedule:
    - cron: '30 00 * * *'
  workflow_dispatch:

jobs:
  build:
    name: 'Collect Plugins Data'
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1

      - name: setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: latest
          cache: 'npm'

      - name: collect
        timeout-minutes: 15
        run: |
          npm install
          npm run plugins-directory npm-data
          npm run plugins-directory pages

      - name: save
        run: |
          # Git config
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add .
          git commit --allow-empty -m "collect plugins data"
          git push --set-upstream origin main

