name: 'Collect Plugins Data'
on:
  schedule:
    - cron: '30 00 * * *'
  workflow_dispatch:

jobs:
  build:
    name: 'Collect Plugins Data'
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1

      - name: setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: latest
          cache: 'npm'

      - name: collect
        timeout-minutes: 15
        run: |
          npm install
          npm run plugins-directory npm-data
          npm run plugins-directory pages

      - name: save
        run: |
          # Git config
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add .
          git commit --allow-empty -m "collect plugins data"
          git push --set-upstream origin main

